.flexCenter {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flexColAICenter {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.w_100 {
    width: 100%;
}

.w_99 {
    width: 99%;
}

.w_50 {
    width: 50%;
}

h2,
.searchBtn {
    margin: 0;
}

ol {
    margin: 10px 0;
}

li {
    margin-bottom: 10px;
}

.App {
    background-attachment: fixed;
    background-image: url("https://wallpapers.com/images/hd/blue-and-gray-timezone-world-map-8nbx8vk5xhnuoz17.webp");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header {
    background-color: #1c3659;
    border-bottom: 2px solid white;
    color: white;
    height: 70px;
}

.mainBlock {
    flex-direction: column;
    height: calc(100vh - 70px);
}

.inMainBlock {
    height: calc(100% - 120px);
    overflow: hidden;
}

.searchBtn {
    background-color: white;
    border: none;
    cursor: pointer;
    outline: none;
}

.infoDiv {
    background-color: #1c3659;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    max-height: calc(100% - 85px);
    min-height: 0;
    overflow: scroll;
    position: relative;
}

.infoDiv::-webkit-scrollbar {
    display: none;
}

.clearBtn {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.clearBtn:hover {
    background-color: #9bc5ff;
    transition: ease-in background-color 0.4s;
}

.emptyDiv {
    height: 10px;
}

.errorContainer {
    height: 30px;
}

.title {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .mainBlock{
        width: 75%;
    }
    
}
@media screen and (max-width: 400px) {
    .mainBlock{
        width: 100%;
    }
    
}